a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    height: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

body {
    font: 12px/18px 'GothamPro', Arial, sans-serif;
    width: 100%;
    height: 100%;
    background: #f3f3f3
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    margin: 15px 0;
    font-family: GothamProBold;
    color: #434a54
}

.h1,
h1 {
    font-size: 36px;
    line-height: 46px
}

.h2,
h2 {
    font-size: 32px;
    line-height: 42px
}

.h3,
h3 {
    font-size: 28px;
    line-height: 38px
}

.h4,
h4 {
    font-size: 24px;
    line-height: 34px
}

.h5,
h5 {
    font-size: 20px;
    line-height: 30px
}

.h6,
h6 {
    font-size: 16px;
    line-height: 26px
}

.breadcrumbs {
    &-bottom {
        margin: 20px 0 0 0;
    }

    ul > li {
        list-style: none;
        display: inline-block;
        color: #a1a1a1;
        font-size: 14px;

        & > a {
            color: #a1a1a1;

            &:after {
                content: ">";
                display: inline-block;
                margin: 0 2px;
            }
        }
    }

    &-lnk {
        &-last {
            &:after {
                display: none !important;
            }
        }
    }
}