@font-face {
    font-family: 'GothamPro';
    src: url('#{$fonts}/GothamPro.eot');
    src: url('#{$fonts}/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts}/GothamPro.woff') format('woff'),
    url('#{$fonts}/GothamPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GothamProBold';
    src: url('#{$fonts}/GothamProBold.eot');
    src: url('#{$fonts}/GothamProBold.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts}/GothamProBold.woff') format('woff'),
    url('#{$fonts}/GothamProBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal
}