.buttons {
    margin-top: 50px
}

.buttons a {
    display: inline-block;
    margin-right: 25px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 #a0a0a0;
    text-shadow: 0 0 3px #6b6b6b;
    text-align: center;
    width: 414px;
    height: 52px;
    line-height: 52px;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-family: GothamProBold
}

.buttons a:last-child {
    margin-right: 0!important
}

.buttons .order-cleaner {
    background: #008f4c
}

.buttons .order-cleaner:hover {
    background: #0a9855
}

.buttons .other-services-btn {
    background: #ffcb08
}

.buttons .other-services-btn:hover {
    background: #ffc107
}

.add-btn {
    display: block;
    text-align: center;
    font-size: 18px;
    width: 272px;
    height: 37px;
    line-height: 37px;
    cursor: pointer;
    background: #008f4c;
    border-radius: 3px;
    margin: 15px auto
}

.add-btn,
.add-btn:hover {
    text-decoration: none;
    color: #fff
}

.add-btn:hover {
    background: #0a9855
}

.more-faq {
    color: #767676;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    text-align: right;
    float: right
}

.more-faq:hover {
    color: #767676;
    text-decoration: none
}

.fix-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
    overflow: hidden;
    background: url(../img/fix.png) no-repeat 50% 50%;
    border-radius: 0 5px 0 0;
    transition: background .1s ease-out .1s
}

.fix-btn.active {
    background: url(../img/fix-h.png) no-repeat 50% 50%
}

.add-testimonal .checkbox {
    margin-bottom: 25px;
    display: block
}

.add-testimonal .type_checkbox {
    margin-right: 10px
}

.add-testimonal .vote-block {
    display: block;
    margin: 20px 0
}

.add-testimonal .vote-block i {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border: 2px solid #008f4c;
    background: #fff;
    cursor: pointer;
    border-radius: 100%
}

.add-testimonal .vote-block i.active,
.add-testimonal .vote-block i:hover {
    background: #008f4c
}

.btn-main {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 #a0a0a0;
    text-shadow: 0 0 3px #6b6b6b;
    text-align: center;
    height: 52px;
    line-height: 52px;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-family: GothamProBold;

    &-yellow {
        background: #ffcb08;

        &:hover {
            text-decoration: none;
            color: #fff;
            background: #ffc107;
        }
    }
}