.social li {
    list-style: none;
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    overflow: hidden;
    background: url(../img/social.png) no-repeat 0 0;
    margin-right: 10px
}

.social li a {
    display: block;
    width: 100%;
    height: 100%
}

.social li:last-child {
    margin-right: 0!important
}

.social .vk {
    background-position: 0 0
}

.social .fa {
    background-position: -52px 0
}

.social .in {
    background-position: -106px 0
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    background: #008f4c
}

.user-page .icr-label {
    padding-left: 0
}

.notificate-add-error,
.notificate-add-info,
.notificate-add-success,
.notificate-add-warning {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: block;
    max-width: 390px;
    padding: 15px;
    background: rgba(244, 67, 54, .9);
    z-index: 999999;
    border-radius: 1px
}

.notificate-add-success {
    background: rgba(76, 175, 80, .9)
}

.notificate-add-warning {
    background: rgba(255, 152, 0, .9)
}

.notificate-add-info {
    background: rgba(3, 169, 244, .9)
}

.notificate-add-error p,
.notificate-add-info p,
.notificate-add-success p,
.notificate-add-warning p {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    display: block;
    margin: 0 auto
}

.number-rooms {
    text-align: center;
    position: relative;
    width: 205px;
    margin: 0;
    display: inline-block;
    vertical-align: top
}

.number-rooms i,
.number-rooms input[type=text] {
    display: inline-block
}

.number-rooms input {
    max-width: 200px;
    width: 100%;
    color: #161b19;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #aab2bd;
    outline-color: #008f4c;
    width: 230px;
    text-align: center
}

.number-rooms i,
.number-rooms input {
    height: 40px;
    line-height: 40px;
    font-size: 18px
}

.number-rooms i {
    width: 40px;
    cursor: pointer;
    color: #aab2bd;
    position: absolute;
    text-align: center
}

.number-rooms .minus {
    left: 0
}

.number-rooms .plus {
    right: 0;
    font-size: 22px
}

.number-bath-rooms {
    text-align: center;
    position: relative;
    width: 205px;
    margin: 0 0 10px 0;
    display: inline-block;
    vertical-align: top
}

.number-bath-rooms i,
.number-bath-rooms input[type=text] {
    display: inline-block
}

.number-bath-rooms input {
    max-width: 200px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #161b19;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #aab2bd;
    outline-color: #008f4c;
    width: 230px;
    text-align: center
}

.number-bath-rooms i {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #aab2bd;
    position: absolute;
    line-height: 40px;
    text-align: center
}

.number-bath-rooms .minus {
    left: 0
}

.number-bath-rooms .plus {
    right: 0;
    font-size: 22px
}

.number-window {
    text-align: center;
    position: relative;
    width: 205px;
    margin: 0;
    display: inline-block;
    vertical-align: top
}

.number-window i,
.number-window input[type=text] {
    display: inline-block
}

.number-window input {
    max-width: 200px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #161b19;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #aab2bd;
    outline-color: #008f4c;
    width: 230px;
    text-align: center
}

.number-window i {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #aab2bd;
    position: absolute;
    line-height: 40px;
    text-align: center
}

.number-window .minus {
    left: 0
}

.number-window .plus {
    right: 0;
    font-size: 22px
}

.inline .item {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    position: relative
}

.inline .item:last-child {
    margin-right: 0
}

.icon-iron {
    background: url(../img/services/iron.png) no-repeat
}

.icon-window {
    background: url(../img/services/window.png) no-repeat
}

.icon-fridge {
    background: url(../img/services/fridge.png) no-repeat
}

.icon-stove {
    background: url(../img/services/stove.png) no-repeat
}

.icon-plate {
    background: url(../img/services/plate.png) no-repeat
}

.icon-calendar {
    background: url(../img/services/calendar.png) no-repeat
}

.icon-time {
    background: url(../img/services/time.png) no-repeat
}

.icon-cicle {
    background: url(../img/services/cicle.png) no-repeat
}

.icon-cleaner {
    background: url(../img/services/cleaner.png) no-repeat
}

.raiting {
    margin: 10px 0;
    width: 145px;
    height: 25px;
    overflow: hidden;
    background: url('../img/raiting.png') no-repeat 0 0;
}

.raiting-0 {
    background-position: 0 -125px;
}

.raiting-1 {
    background-position: 0 -100px;
}

.raiting-2 {
    background-position: 0 -75px;
}

.raiting-3 {
    background-position: 0 -50px;
}

.raiting-4 {
    background-position: 0 -25px;
}

.raiting-5 {
    background-position: 0 0;
}