.form-group input {
    background: #e6e9ed
}

.checkbox label,
.form-group label {
    font-size: 14px;
    line-height: 18px;
    color: #999;
    display: block;
    margin-bottom: 5px
}

.input-order {
    max-width: 200px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #161b19;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #aab2bd;
    outline-color: #008f4c
}

.choose-block {
    margin-bottom: 30px
}

.common-inputs input[type=email],
.common-inputs input[type=password],
.common-inputs input[type=text],
.common-inputs select {
    font-size: 15px;
    color: #000;
    border-radius: 3px;
    border: 1px solid #aab2bd;
    width: 205px;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    outline-color: #008f4c;
    padding: 0 10px
}

.common-inputs textarea {
    font-size: 15px;
    line-height: 22px;
    color: #000;
    border-radius: 3px;
    border: 1px solid #aab2bd;
    box-sizing: border-box;
    outline-color: #008f4c;
    padding: 10px;
    width: 100%;
    max-width: 537px
}