.footer {
    margin: -350px auto 0;
    height: 350px;
    position: relative;
    background: #f6f6f6;
    padding: 70px 0 25px
}

.footer .list-links li {
    list-style: none;
    display: block;
    margin-bottom: 15px
}

.footer .list-links li a {
    color: #000;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline
}

.footer .list-links li a:hover {
    text-decoration: none
}

.footer p {
    display: block;
    color: #24333d;
    font-size: 16px;
    margin-bottom: 10px
}

.footer .rights {
    margin-top: 60px
}

.footer .rights a {
    color: #24333d;
    text-decoration: underline
}

.footer .rights a:hover {
    text-decoration: none
}

.footer {
    &-contacts {
        p {
            font-size: 14px;
        }
        b {
            font-family: 'GothamProBold';
        }
        a {
            text-decoration: none;
            color: #008f4c;
            &:hover {
                text-decoration: underline;
                color: #008f4c;
            }
        }
    }
}