.header {
    height: 100px;
    background: #fff;
    box-shadow: 0 2px 1px 1px #d8d8d8;
    position: relative;
    padding-top: 15px
}

.header .logo {
    max-width: 225px;
    width: 100%;
    height: 57px;
    display: block;
    background: url(../img/logo.png) no-repeat 0 0;
    background-size: contain
}

.header .mobile-menu,
.header .mobile-view {
    display: none
}

.top-menu .dropdown-menu {
    text-align: left!important;
    left: -120px;
}

.top-menu .dropdown-menu li {
    display: block;
    padding: 5px 0;
    width: 100%;
}

.top-menu ul {
    text-align: right
}

.top-menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    padding-top: 30px;
}

.top-menu ul li:last-child {
    margin-right: 0!important
}

.top-menu a {
    color: #000;
    font-size: 15px;
    cursor: pointer
}

.top-menu .active a,
.top-menu a:hover {
    color: #ffcb08;
    text-decoration: none
}

.header-slide {
    width: 100%;
    height: 580px;
    background: url(../img/slides/1.jpg) no-repeat;
    background-position: 20% 50%!important;
    background-size: cover
}

.header-slide .description {
    padding-top: 135px
}

.header-slide .description .title {
    color: #008f4c;
    text-transform: uppercase;
    font-size: 55px;
    line-height: 65px;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 20px;
    font-family: GothamProBold
}

.header-slide .description .short {
    max-width: 530px;
    color: #3c3c46;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 1.5px
}

.header {
    &-col {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
        max-width: 280px;
        padding-top: 10px;
        font-size: 12px;
        b {
            font-family: 'GothamProBold';
        }
    }
    &-phone,
    &-email {
        display: block;
        font-size: 14px;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        text-decoration: none;
        color: #008f4c;
        &:hover {
            text-decoration: underline;
            color: #008f4c;
        }
    }
    &-email {
        display: inline-block;
    }
}

.banner-top {
    background-repeat: no-repeat;
    background-size: inherit;
    height: 100px;
    border-bottom: 1px solid #bcbfbf;
    background-position: 50% 50%;
    position: relative;
}

.banner-top strong,
.banner-inner strong {
    font-family: GothamProBold;
}

.banner-inner {
    width: 100%;
    height: 280px;
    background: #fff;
    padding: 50px 0 0;
}

.banner-inner .container {
    height: 210px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    position: relative;
    padding: 0;
}

.banner-top .overlay,
.banner-inner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: block;
    cursor: pointer;
}

.banner-top .short,
.banner-inner .short {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-slider-slide {
    position: relative;
}

.section-slider-slide img {
    max-width: 100%;
}

.section-slider-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 999;
}

.section-slider-description {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.section-slider-title {
    color: #008f4c;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 20px;
    font-family: GothamProBold;
}

.section-slider-short {
    max-width: 530px;
    color: #3c3c46;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1px
}

.header-btns .buttons {
    margin: 30px auto 40px;
}

.section-slider .owl-buttons {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

.section-slider .owl-prev,
.section-slider .owl-next {
    position: absolute;
    display: block;
    top: 50%;
    width: 30px;
    height: 47px;
    transform: translate(0, -50%);
    background: url('../img/arr-l.png') no-repeat 0 0;
}

.section-slider .owl-prev {
    left: 10px;
}

.section-slider .owl-next {
    right: 10px;
    transform: translate(0, -50%) rotate(180deg);
}

.section-slider {
    .owl-pagination {
        position: absolute;
        bottom: 40px;
        left: 50%;
        width: 100%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 1199px) {
    .section-slider-title {
        font-size: 32px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .section-slider-short {
        font-size: 24px;
        line-height: 28px;
    }
    .header {
        &-col {
            max-width: 200px;
        }
        b {
            display: none;
        }
    }
}

@media (max-width: 992px) {
    .section-slider-title,
    .section-slider-short {
        margin-left: 40px;
    }
    .section-slider-title {
        font-size: 28px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .section-slider-short {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: normal;
    }
}

@media (max-width: 767px) {
    .section-slider-title,
    .section-slider-short {
        display: none;
    }
}