.wrapper {
    position: relative;
}

.wrapper.loading:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/loading.gif) no-repeat 50% 50% rgba(255, 255, 255, 0.5);
}

.content {
    padding: 0 0 350px
}

.page-top {
    margin: 20px auto 30px
}

.entry-content {
    margin: 20px auto 90px
}

.entry-text {
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0 #c7c7c7;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.entry-text ol li,
.entry-text p,
.entry-text ul li {
    color: #434450;
    font-size: 16px;
    line-height: 24px
}

.entry-text p {
    display: block;
    margin-bottom: 20px
}

.entry-text ol li,
.entry-text ul li {
    margin-left: 20px
}

.entry-text ul li {
    list-style: disc
}

.entry-text ol li {
    list-style: decimal
}

.entry-text img {
    border-radius: 3px
}

.entry-text .question-block:last-child {
    border-bottom: 0
}

.entry {
    &-typography {
        p,
        ul li,
        ol li {
            font-size: 14px;
            margin-bottom: 10px;
        }
        table {
            width: 100%;
            font-size: 14px;
            td,
            th {
                padding: 10px;
                border: 1px solid #e6e9ed;
            }
            th {
                font-family: 'GothamProBold';
            }
        }
        &-top {
            border-bottom: 1px solid #e6e9ed;
            padding-bottom: 10px;
        }
        &-bottom {
            margin-top: 40px;
        }
    }
    &-h2 {
        margin-bottom: 40px;
    }
    &-sub {
        &-ul {
            margin: 10px 0 10px 20px;
        }
    }
}

.entry {
    &-post {
        p,
        ul li,
        ol li {
            font-size: 16px;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 15px;
        }
        table {
            width: 100%;
            font-size: 16px;
            td,
            th {
                padding: 10px;
                border: 1px solid #e6e9ed;
            }
            th {
                font-family: 'GothamProBold';
            }
        }
        ul,
        ol {
            margin-bottom: 20px;
        }
    }
    &-h2 {
        margin-bottom: 40px;
    }
}