.sidebar {
    padding: 15px
}

.sidebar .title {
    color: #008f4c;
    font-size: 18px;
    line-height: 24px;
    font-family: GothamProBold;
    display: block
}

.sidebar .menu-list {
    margin-bottom: 60px
}

.sidebar .menu-list ul {
    margin: 20px 0
}

.sidebar .menu-list ul>li {
    list-style: none;
    display: block;
    margin-bottom: 15px
}

.sidebar .menu-list ul>li>a {
    color: #434a54;
    font-size: 18px;
    line-height: 24px;
    font-family: GothamProBold;
    text-decoration: underline
}

.sidebar .menu-list .active a,
.sidebar .menu-list ul>li>a:hover {
    text-decoration: none;
    color: #008f4c
}

.sidebar .fix {
    position: fixed;
    top: 10px;
    width: 26.6%
}

.faq-sidebar ul>li {
    list-style: disc;
    color: #767676;
    font-size: 16px;
    line-height: 24px;
    margin: 25px
}

.faq-sidebar ul>li>a {
    color: #767676;
    text-decoration: underline
}

.faq-sidebar ul>li>a:hover {
    text-decoration: none
}