@media(min-width:992px) {
    .service-item:hover {
        border: 3px solid #f9c706;
        line-height: 32px
    }
    .service-item:hover .icon {
        margin: 4px 0 0 0
    }
    .service-item:hover span {
        margin-top: 5px
    }
    .service-item.active:hover .icon {
        margin: 4px 0 0 0
    }
    .service-item.active span {
        margin-top: 5px
    }
    .service-item.active:hover span {
        margin-top: 5px
    }
}

@media (max-width:1199px) {
    .top-menu ul li {
        margin-right: 5px
    }
    .top-menu a {
        font-size: 14px;
    }
    .header .contacts a:nth-child(2) {
        display: none
    }
    .buttons a {
        width: 396px
    }
    .header-slide {
        background-position: 50% 50%!important
    }
    .header-slide .description {
        padding-top: 100px
    }
    .header-slide .description .short {
        max-width: 380px;
        line-height: 38px
    }
    .breadcrumbs {
        padding-left: 0
    }
    .primary-menu ul>li {
        margin-right: 15px
    }
    .order-total.fix {
        width: 293px
    }
    .order-total .panel {
        width: 180px;
        padding: 0 5px;
        font-size: 12px
    }
    .other-services .item a {
        font-size: 21px
    }

    .about-list {
        padding: 0px 100px;
    }
}

@media (max-width:992px) {
    .banner-top .short,
    .banner-top .short p,
    .banner-top .short span,
    .banner-top .short strong,
    .banner-inner .short,
    .banner-inner .short p,
    .banner-inner .short span,
    .banner-inner .short strong {
        font-size: 15px;
    }
    .banner-inner,
    .banner-inner .container {
        height: 150px!important;
    }
    .other-services .item a {
        font-size: 28px
    }
    .header .container {
        position: relative
    }
    .primary-menu .title {
        margin-top: 2px
    }
    .header .contacts,
    .header .top-menu {
        display: none
    }
    .header .mobile-view {
        text-align: right;
        display: block
    }
    .header #toggle-menu {
        display: inline-block;
        width: 30px;
        height: 22px;
        cursor: pointer;
        background: url(../img/toggle-menu.png) no-repeat 0 0;
        margin: 0 0 0 15px;
        vertical-align: sub
    }
    .header .mobile-contacts {
        text-align: right;
        display: inline-block
    }
    .header .mobile-contacts a {
        display: block;
        color: #008f4c;
        font-size: 18px;
        text-decoration: none;
        margin-right: 0;
        padding-top: 35px
    }
    .header .mobile-menu {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        top: 100%;
        background: #fff;
        padding: 10px;
        z-index: 9;
        box-shadow: 0 2px 2px 1px #d8d8d8
    }
    .header .mobile-menu ul>li {
        list-style: none;
        display: block;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px
    }
    .header .mobile-menu ul>li:last-child {
        border-bottom: 0
    }
    .header .mobile-menu ul>li>a {
        font-size: 16px;
        line-height: 24px;
        color: #000
    }
    .header-slide .description .short {
        max-width: 280px;
        font-size: 20px;
        line-height: 32px
    }
    .skills .item {
        margin-bottom: 60px
    }
    .skills .item:last-child {
        margin-bottom: 0
    }
    .why-we .number i {
        margin: 0 auto 30px
    }
    .why-we .item {
        padding-bottom: 60px;
        text-align: center
    }
    .other-services .item {
        margin: 0 auto 30px
    }
    .testimonals-section .item {
        margin-bottom: 60px
    }
    .testimonals-section .more-testimonals {
        margin: 20px auto
    }
    .footer {
        min-height: 350px;
        height: auto
    }
    .footer img,
    .footer ul {
        margin-bottom: 50px
    }
    .footer .rights {
        margin-top: 0
    }
    .question-block .answer-block .answer {
        display: inline-block;
        vertical-align: top;
        max-width: 80%
    }
    .testionals-page .short {
        max-width: 100%
    }
    .order-total {
        margin-top: 40px
    }
    .order-total.fix {
        width: 293px
    }
    .order-total .panel {
        width: 200px;
    }
    .order-total .item {
        display: inline-block;
        margin-right: 20px
    }
    .fix-btn {
        display: none!important
    }
}

@media (min-width:992px) {
    .table-class {
        display: table
    }
    .table-cell-class {
        display: table-cell;
        float: none
    }
}

@media (max-width: 960px) {
    .buttons a {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .about-list {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .buttons a {
        width: 100%;
        font-size: 13px;
    }

    .about .title {
        font-size: 30px;
    }

    .about-list {
        font-size: 13px;
    }

    .widget {
        margin: 0 auto;
        margin-top: 30px;
    }

    .section-slider .owl-buttons {
        display: none !important;
    }

    .section-slider .owl-pagination {
        position: absolute;
        bottom: -25px;
    }

    .testimonals-section {
        padding: 50px 0px 0px 0px;
    }
}

@media (max-width:767px) {
    .banner-inner,
    .banner-inner .container {
        height: 65px!important;
    }
    .service-items .inline {
        text-align: center
    }
    .section_title {
        font-size: 28px;
        line-height: 34px
    }
    .sub-title {
        font-size: 20px;
        line-height: 24px
    }
    .header {
        height: 75px
    }
    .header .mobile-contacts {
        display: none
    }
    .header #toggle-menu {
        margin-top: 15px
    }
    .header .logo {
        background-size: contain
    }
    .header-slide .description {
        padding-top: 40px
    }
    .header-slide .description .title {
        font-size: 32px;
        line-height: 38px
    }
    .header-slide .description .short {
        max-width: 100%;
        line-height: 28px;
        letter-spacing: 0
    }
    .header-slide .buttons {
        margin-top: 200px
    }
    .buttons {
        text-align: center;
        margin-top: 20px
    }
    .buttons a {
        margin: 0 auto 10px
    }
    .skills {
        padding: 80px 0
    }
    .skills .title {
        font-size: 28px;
        line-height: 34px;
    }
    .skills .item:last-child {
        margin-bottom: 0
    }
    .order-clean-slide {
        padding-top: 60px
    }
    .order-clean-slide .title {
        font-size: 28px;
        line-height: 34px
    }
    .why-we {
        padding: 60px 0 0
    }
    .why-we .title {
        font-size: 28px;
        line-height: 34px
    }
    .why-we .title-item {
        font-size: 20px;
        line-height: 28px
    }
    .other-services .title,
    .testimonals-section .title {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 60px
    }
    #toggle-primary-menu {
        position: relative!important;
        margin-bottom: 20px;
        left: 5px!important
    }
    .primary-menu ul {
        display: none;
        background: #fff;
        padding: 10px 10px 0;
        border-radius: 3px
    }
    .primary-menu ul>li {
        display: block;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        text-align: left
    }
    .primary-menu ul>li:last-child {
        border-bottom: 0
    }
    .primary-menu ul>li>a {
        text-decoration: none
    }
    .primary-menu .has-childs>ul {
        position: relative;
        max-width: 100%
    }
    .primary-menu .title {
        display: block;
        margin: 2px 0 0 70px
    }
    .question-block:before {
        width: 44px;
        height: 44px;
        line-height: 44px;
        font-size: 26px;
        margin: 0 auto 15px;
        display: block
    }
    .question-block .answer-block {
        margin-left: 20px
    }
    .question-block .answer-block .answer {
        display: block;
        max-width: 100%
    }
    .question-block .answer-block:before {
        width: 44px;
        height: 44px;
        line-height: 44px;
        font-size: 26px;
        margin: 0 auto 15px;
        display: block
    }
    .question-block .question {
        max-width: 100%
    }
    .common-inputs p,
    .service-item {
        margin-bottom: 10px;
        line-height: 14px
    }
    .inline .item {
        margin-bottom: 10px;
        margin-right: 0
    }
    .choose-block {
        margin-bottom: 20px
    }
    .service-item {
        font-size: 14px
    }
    .number-bath-rooms,
    .number-rooms {
        text-align: left;
        margin: 0 0 20px
    }
    .order-form .icr-text {
        font-size: 16px
    }
    .order-form .add-btn {
        float: none;
        margin: 10px auto 0
    }
    .order-total .item,
    .order-total .panel,
    .order-total i {
        display: block;
        margin: 0 auto 10px
    }
    .order-total span {
        margin: 20px auto 10px
    }
    .order-total .add-btn {
        float: none;
        margin: 10px auto 0
    }
    .language-switcher-locale-url li {
        margin-right: 6px;

        &:last-child {
            margin-right: 0;
        }
    }
}