
.about {
    width: 100%;
    background: #fff;
    padding: 50px 0px;
}

.about .title {
    text-transform: uppercase;
    letter-spacing: .3px;
    color: #008f4c;
    font-size: 36px;
    line-height: 46px;
    font-family: GothamProBold;
    margin-bottom: 0px;
    text-align: center;
}

.about .sub-title {
    color: #000;
    font-family: GothamProBold;
    text-transform: none;
    text-align: center;
    margin: 0px;
}

.about-list {
    text-transform: uppercase;
    color: #008f4c;
    font-size: 15px;
    padding: 0px 200px;
}

.about-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-item i {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #008f4c;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin-right: 15px;
    font-size: 20px;
}
