.section_title {
    letter-spacing: .3px;
    font-size: 36px;
    line-height: 46px;
    font-family: GothamProBold;
    margin-bottom: 10px;
    text-align: center
}

.section_title,
.sub-title {
    text-transform: uppercase;
    color: #008f4c
}

.sub-title {
    font-size: 24px;
    line-height: 32px;
    margin: 20px auto;
    letter-spacing: .5px
}

.short-text {
    color: #434450;
    font-size: 16px;
    line-height: 24px
}

.block {
    width: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 60px;
    box-shadow: 2px 2px 5px 0 #c7c7c7
}

.block .title {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #008f4c;
    margin-bottom: 15px
}

.block .add-btn {
    float: right;
    border: 0;
    text-transform: uppercase;
    max-width: 200px;
    font-size: 12px;
    font-family: GothamProBold;
    border-radius: 5px;
    outline: none
}

.info-cleaner:after {
    content: "";
    display: block;
    clear: both
}

.info-cleaner img {
    display: block;
    margin: 0 20px 20px 0;
    width: 150px;
    height: auto
}

.info-cleaner .info-block,
.info-cleaner img {
    float: left;
    vertical-align: top
}

.cleaner-avatar {
    display: block;
    vertical-align: top;
    margin: 0 auto;
    width: 80px;
    height: auto
}

.delete-cleaner {
    text-decoration: underline;
    cursor: pointer
}

.delete-cleaner:hover {
    text-decoration: none
}

.cleaner-item b {
    font-family: GothamProBold;
}

.cleaner-item .add-btn {
    width: 100%;
    font-size: 16px;
}

.add-cleaner-black-list,
.remove-cleaner-black-list {
    background: #afafaf;
}

.add-cleaner-black-list:hover,
.remove-cleaner-black-list:hover {
    background: #ccc;
}

.cleaners-page .short {
    max-width: 100%;
}

.expanding-block {
    max-height: 150px;
    overflow: hidden;
}

.expand-block {
    cursor: pointer;
    display: block;
    margin-top: 10px;
    font-family: 'GothamProBold'
}

.workers-labels {
    display: block;
    margin: -10px 0 5px;
    font-size: 13px;
    color: #000;
    font-weight: 500
}

.short-page-description {
    margin-bottom: 20px;
}

.short-page-description p {
    font-size: 16px;
    line-height: 24px;
}

.cleaner-item .img {
    max-width: 230px;
    width: 100%;
    max-height: 225px;
    overflow: hidden;
}

.cleaner-item .img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.cleaner-item h4 {
    margin-top: 0;
}