
.video {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
}

.video iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video-item {
    margin-top: 30px;
}

.review-item img {
    max-width: 100%;
    height: auto;
}

.bx-wrapper .bx-pager {
    bottom: -60px;
}

.bx-wrapper {
    position: relative;
    margin: 0 auto;
    margin-bottom: 60px;
    padding: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px;
    background: none;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    text-indent: -9999px;
    display: block;
    margin: 0 5px;
    outline: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #008f4c;
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #008f4c;
}

.video-wrapper .title {
    margin-bottom: 30px;
}

.reviews-inner {
    margin-bottom: 100px;
}

.inw {
    margin-top: 30px;
}

.order-form h2 .add-btn {
    padding: 10px;
    line-height: 1;
    margin: 0px;
    margin-left: 10px;
    float: none;
    max-width: 170px;
    width: auto;
    height: auto;
    display: inline-block;
}

.entry-text .clean-list,
.entry-text .clean-list li {
    padding: 0px;
    margin: 0px;
    list-style: none;
    list-style-image: none;
}

.entry-text .clean-list li {
    margin-bottom: 5px;
}

.entry-text .clean-list li i {
    color: #008f4c;
}

.entry-text .clean-list li:nth-child(2n) i {
    color: #ffc100;
}

.entry-text .choose-block p {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.1;
}

.top-menu {
    margin-left: -40px;
}

.language-switcher-locale-url,
.language-switcher-locale-url li {
    float: left;
    margin-right: 12px;
}

.mobile-view ul li {
    list-style: none;
    display: inline-block;
    padding-top: 20px;
}

.mobile-view a {
    color: #000;
}

.mobile-view .active a, .mobile-view a:hover {
    color: #ffcb08;
    text-decoration: none;
}

.mobile-view .language-switcher-locale-url {
    margin-right: 0;
}

.language-switcher-locale-url li a,
.mobile-view .language-switcher-locale-url li a {
    font-size: 12px;
}

.contacts {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

ul.side-menu {
    width: 420px;
}