.primary-menu {
    margin: 10px auto 40px;
    border-bottom: 1px solid #e6e9ed;
    min-height: 40px
}

.primary-menu #toggle-primary-menu {
    display: block;
    position: absolute;
    width: 30px;
    height: 22px;
    cursor: pointer;
    left: 30px;
    background: url(../img/close.png) no-repeat 50% 50%;
    transition: all .2s
}

.primary-menu #toggle-primary-menu.not-active {
    background: url(../img/toggle-primary-menu.png) no-repeat 50% 50%
}

.primary-menu ul {
    text-align: right
}

.primary-menu ul>li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    position: relative
}

.primary-menu ul>li:last-child {
    margin-right: 0
}

.primary-menu ul>li>a {
    font-size: 16px;
    color: #434a54;
    text-decoration: underline;
    font-family: GothamProBold;
    cursor: pointer
}

.primary-menu ul>li>a:hover {
    text-decoration: none
}

.primary-menu .has-childs>a:after {
    content: "";
    width: 6px;
    height: 4px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    background: url(../img/arrow-down.png) no-repeat 0 0;
    transition: all .2s
}

.primary-menu .has-childs.active>a:after {
    transform: rotate(180deg)
}

.primary-menu .has-childs ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 250px;
    width: 200%;
    padding: 10px;
    background: #fff;
    z-index: 9;
    margin-top: 5px;
    border-radius: 3px
}

.primary-menu .has-childs ul>li {
    text-align: left;
    display: block;
    margin: 0 0 10px
}

.primary-menu .has-childs ul>li:last-child {
    margin-bottom: 0
}

.primary-menu .has-childs ul>li>a {
    font-size: 14px;
    font-family: GothamPro
}

.primary-menu .title {
    display: none;
    margin: 12px 0 0 90px;
    font-size: 14px;
    top: 0;
    left: 0;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute
}