.modal-body p {
    font-size: 16px;
    line-height: 20px
}

.modal-content {
    border-radius: 3px;
    padding: 15px
}

.modal-content input {
    background: #e6e9ed;
    margin-bottom: 15px
}

.modal-content label {
    color: #999
}

.modal-content .forget-pass,
.modal-content .question-have-account,
.modal-content label {
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin-bottom: 5px
}

.modal-content a {
    cursor: pointer;
    color: #2196f3;
    text-decoration: underline
}

.modal-content .add-btn {
    border: 0;
    outline: none;
    margin-bottom: 0;
    max-width: 220px
}

.modal-header .close {
    width: 18px;
    height: 18px;
    float: right;
    border: 0;
    background: url(../img/close.png) no-repeat 50% 50%
}