.order-clean-slide {
    height: 400px;
    background: url(../img/slides/2.jpg) no-repeat 50% 50%;
    background-size: cover;
    text-align: center;
    padding-top: 95px
}

.order-clean-slide .title {
    text-transform: uppercase;
    letter-spacing: .3px;
    color: #008f4c;
    font-size: 36px;
    line-height: 46px;
    font-family: GothamProBold;
    margin-bottom: 10px;
    text-align: center
}

.order-clean-slide .sub-title {
    color: #000;
    font-family: GothamProBold;
    text-transform: none
}

.order-form .title {
    font-family: GothamProBold;
    margin-bottom: 15px
}

.order-form .radio,
.order-form .title {
    color: #161b19;
    font-size: 18px;
    line-height: 24px
}

.order-form .radio {
    margin-bottom: 20px
}

.order-form .icr-text {
    color: #161b19;
    font-size: 18px;
    line-height: 24px
}

.order-form .checkbox label,
.order-form .radio label {
    padding-left: 0
}

.order-form .add-btn {
    float: right;
    border: 0;
    text-transform: uppercase;
    max-width: 200px;
    font-size: 12px;
    font-family: GothamProBold;
    border-radius: 5px;
    outline: none
}

.order-total {
    width: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px 0 #c7c7c7
}

.order-total .title {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #008f4c;
    margin-bottom: 15px
}

.order-total .add-btn {
    float: right;
    border: 0;
    text-transform: uppercase;
    max-width: 200px;
    font-size: 12px;
    font-family: GothamProBold;
    border-radius: 5px;
    outline: none
}

.order-total.fix {
    width: 360px
}

.order-total.fix .fix-btn.active {
    right: 0;
    margin: 0
}

.order-total .item {
    margin-bottom: 0
}

.order-total>span {
    color: #a8a8a8;
    font-size: 16px;
    display: block;
    margin: 10px 0 10px 10px
}

.order-total>span b {
    text-align: right;
    display: inline-block;
    float: right;
    font-size: 18px;
    color: #008f4c;
    font-family: GothamProBold
}

.order-total .panel,
.order-total i {
    display: inline-block;
    vertical-align: text-top
}

.order-total .panel {
    width: 270px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 3px;
    background: #e6e9ed;
    color: #000;
    font-size: 16px
}

.order-total i {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-position: 50% 50%
}

.order-page .sidebar {
    padding: 0
}

.order-details p {
    margin-bottom: 10px
}

.order-details b {
    font-family: GothamProBold
}