.question-block {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 15px;
    padding-bottom: 15px
}

.question-block:before {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    font-family: GothamProBold;
    background: #ffcb08;
    content: "B";
    font-size: 30px;
    margin-right: 20px
}

.question-block:after {
    display: block;
    clear: both;
    content: ""
}

.question-block p {
    margin-bottom: 5px;
    color: #333;
    font-family: GothamProBold
}

.question-block .question {
    display: inline-block;
    vertical-align: top;
    max-width: 85%
}

.question-block .open-answer {
    color: #008f4c;
    font-family: GothamProBold;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    text-decoration: underline
}

.question-block .answer-block {
    margin: 20px 0 0 80px;
    display: none
}

.question-block .answer-block:before {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    font-family: GothamProBold;
    background: #008f4c;
    content: "O";
    font-size: 30px;
    margin-right: 20px
}

.question-block .answer-block .answer {
    display: inline-block;
    vertical-align: top;
    max-width: 85%
}

.question-block .answer-block .answer p {
    font-family: GothamPro
}