.other-services {
    padding: 90px 0;
    background: #fff
}

.other-services .title {
    text-transform: uppercase;
    letter-spacing: .3px;
    color: #008f4c;
    font-size: 36px;
    line-height: 46px;
    font-family: GothamProBold;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 90px
}

.other-services .item {
    max-width: 370px;
    width: 100%;
    height: 235px;
    position: relative;
    border-radius: 5px
}

.other-services .item a {
    opacity: 1;
    background: rgba(255, 203, 8, .7);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3px;
    text-shadow: 0 1px 3px gray;
    font-size: 26px;
    line-height: 230px;
    font-family: GothamProBold;
    text-decoration: none;
    transition: all .2s;
    border-radius: 5px
}

.other-services .item:hover a {
    opacity: 0
}

.other-services .bg-1 {
    background: url(../img/other-services/1.jpg) no-repeat 50% 50%
}

.other-services .bg-2 {
    background: url(../img/other-services/2.jpg) no-repeat 50% 50%
}

.other-services .bg-3 {
    background: url(../img/other-services/3.jpg) no-repeat 20% 50%
}

.other-services .bg-4 {
    background: url(../img/other-services/4.jpg) no-repeat 90% 50%
}

.service-item {
    font-size: 16px;
    color: #999;
    border-radius: 3px;
    border: 1px solid #aab2bd;
    width: 135px;
    height: 100px;
    line-height: 35px;
    box-sizing: border-box;
    outline-color: #008f4c;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    text-align: center
}

.service-item.active {
    border: 3px solid #f9c706;
    line-height: 32px
}

.service-item.active .icon {
    margin: 4px 0 0 0
}

.service-item .icon,
.service-item span {
    display: inline-block;
    vertical-align: top;
    line-height: 18px
}

.service-item .icon {
    width: 35px;
    height: 30px;
    margin: 5px auto;
    background-position: 50% 50%!important
}

.add-service-value-modal {
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: auto;
    background: #fff;
    z-index: 9;
    border-radius: 0 0 3px 3px;
    padding: 10px;
    border: 3px solid #f9c706;
    border-top: 0;
}

.add-service-value-modal input,
.add-service-value-modal p,
.add-service-value-modal span {
    display: inline-block;
    vertical-align: top
}

.add-service-value-modal p {
    font-size: 14px
}

.add-service-value-modal input {
    width: 50px!important
}