.skills {
    padding: 130px 0 80px;
    background: #fff
}

.skills .item,
.skills .title {
    text-align: center
}

.skills .title {
    text-transform: uppercase;
    letter-spacing: .3px;
    color: #008f4c;
    font-size: 36px;
    line-height: 46px;
    margin: 20px auto 60px;
    display: block;
    color: #434a54;
    font-family: GothamPro
}

.skills .item .title {
    margin: 20px auto;
    font-size: 32px;
}

.skills .short {
    color: #434450;
    font-size: 16px;
    line-height: 24px
}

.page .skills {
    padding: 80px 0
}

#skills {
    width: 100%;
    margin: 0 auto
}

.page .skills .title {
    letter-spacing: 1px
}