.testionals-common .autor {
    font-family: GothamProBold;
    color: #2c3531;
    font-size: 18px;
    line-height: 24px;
    display: block;
    margin-bottom: 20px;
}

.testionals-common .short {
    color: #434450;
    font-size: 16px;
    line-height: 24px;
    max-width: 90%;
}

.testionals-common .short i {
    font-family: GothamProBold;
    font-size: 18px;
    display: inline-block;
    margin: 0 5px -5px 0;
}

.testionals-common .short i:last-child {
    margin-left: 5px;
}

.testimonals-section {
    padding: 90px 0;
    background: #fff;
}

.testimonals-section .title {
    text-transform: uppercase;
    letter-spacing: .3px;
    color: #008f4c;
    font-size: 36px;
    line-height: 46px;
    font-family: GothamProBold;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 90px;
}

.testimonals-section .autor {
    font-family: GothamProBold;
    color: #2c3531;
    font-size: 18px;
    line-height: 24px;
    display: block;
    margin-bottom: 20px;
}

.testimonals-section .short {
    color: #434450;
    font-size: 16px;
    line-height: 24px;
    max-width: 90%;
}

.testimonals-section .short i {
    font-family: GothamProBold;
    font-size: 18px;
    display: inline-block;
    margin: 0 5px -5px 0;
}

.testimonals-section .short i:last-child {
    margin-left: 5px
}

.testimonals-section .more-testimonals {
    text-align: center;
    margin: 90px auto 60px;
}

.testimonals-section .more-testimonals a {
    font-size: 16px;
    color: #000;
    text-decoration: underline;
}

.testimonals-section .more-testimonals a:hover {
    text-decoration: none!important;
}

.testionals-page .autor {
    font-family: GothamProBold;
    color: #2c3531;
    font-size: 18px;
    line-height: 24px;
    display: block;
    margin-bottom: 20px;
}

.testionals-page .short {
    color: #434450;
    font-size: 16px;
    line-height: 1.5;
}

.testionals-page .short i {
    font-family: GothamProBold;
    font-size: 18px;
    display: inline-block;
    margin: 0 5px -5px 0;
}

.testionals-page .short p {
    display: block;
}

.testionals-page .short i:last-child {
    margin-left: 5px;
}

.testionals-page .entry-text .item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    &:last-child {
        border-bottom: 0;
    }
}

.testionals-page .sidebar p {
    color: #434450;
    font-size: 16px;
    line-height: 24px;
    max-width: 90%;
    padding: 15px 0 0 15px;
}

.testionals-page .sidebar p i {
    font-family: GothamProBold;
    font-size: 18px;
    display: inline-block;
    margin: 0 5px -5px 0;
}

.testionals-page .sidebar p i:last-child {
    margin-left: 5px;
}

.testionals-page .more {
    display: block;
    margin: 10px 0;
}