.user-page .title {
    font-size: 18px;
    line-height: 24px;
    font-family: GothamProBold;
    color: #333;
    margin: 20px 0
}

.user-page .points {
    font-size: 48px;
    line-height: 52px
}

.user-page .points,
.user-page .what-is-this {
    color: #434a54;
    display: block;
    font-family: GothamProBold
}

.user-page .what-is-this {
    cursor: pointer;
    text-decoration: underline;
    font-size: 13px;
    margin-top: 8px
}

.user-page .what-is-this:hover {
    text-decoration: none
}

.user-page .add-btn {
    border: 0;
    outline: none;
    max-width: 200px;
    margin: 20px 0 0;
    float: right
}

.user-page table td,
.user-page table th {
    vertical-align: top!important
}

.user-page thead th {
    font-family: GothamProBold;
    font-size: 14px
}

.user-page td {
    font-size: 13px
}

.user-page table td b {
    font-family: GothamProBold
}