.why-we {
    padding: 120px 0 0;
    background: #fff
}

.why-we .title {
    letter-spacing: .3px;
    font-size: 36px;
    line-height: 46px;
    font-family: GothamProBold;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 90px
}

.why-we .title,
.why-we .title-item {
    text-transform: uppercase;
    color: #008f4c
}

.why-we .title-item {
    font-size: 24px;
    line-height: 32px;
    margin: 20px auto;
    letter-spacing: .5px;
    margin-top: 0
}

.why-we .short {
    color: #434450;
    font-size: 16px;
    line-height: 24px
}

.why-we .number i {
    text-align: center;
    display: block;
    width: 66px;
    height: 66px;
    line-height: 60px;
    color: #008f4c;
    border-radius: 100%;
    border: 3px solid #ffcb08;
    font-size: 28px;
    font-family: GothamProBold
}

.why-we .item {
    padding-bottom: 90px
}