.workers {
    &__top {
        margin-top: 0 !important;
    }

    &__btn {
        display: block;
        margin: 20px auto 0;
        max-width: 415px;
        width: 100%;
    }

    &__slide {
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, .6);
        }

        &-img {
            max-width: 100%;
            display: block;
        }

        &-desc {
            position: absolute;
            z-index: 1;
            width: 100%;
            top: 50%;
            left: 0;
            text-align: center;
            transform: translate(0, -50%);
        }

        &-ttl {
            color: #008f4c;
            font-size: 56px;
            font-family: 'GothamProBold';
            line-height: 1;
        }
    }

    &__ttl {
        font-family: 'GothamProBold';
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 15px;
        color: #434a54;
    }

    &__intro {
        margin-bottom: 50px;

        &-logo {
            display: block;
            margin: 0 auto 20px;
            max-width: 100%;
        }

        &-txt {
            max-width: 80%;
            margin: 0 auto 15px;
        }
    }

    &__cols {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 50px;

        &-i {
            flex-basis: 30%;
        }

        &-ttl,
        &-price {
            font-family: 'GothamProBold';
            line-height: 1.2;
        }

        &-ttl {
            font-size: 20px;
            margin-bottom: 5px;
        }

        &-price {
            font-size: 18px;
            color: #008f4c;
            margin-bottom: 15px;
        }

        &-img {
            margin-bottom: 20px;
        }

        &-image {
            max-width: 100%;
            border-radius: 20px !important;
            display: block;
        }

        &-desc {
            &-ttl {
                font-size: 15px;
                margin-bottom: 15px;
            }

            &-lst {
                li {
                    font-size: 15px !important;
                    line-height: 1.3 !important;
                    margin-bottom: 5px;
                }
            }
        }

        &-btn {
            margin-top: 30px;
        }
    }

    &__team {
        margin-bottom: 30px;

        &-ttl {
            margin-bottom: 30px;
        }

        &-cnt {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        &-i {
            flex-basis: 48%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        &-ic {
            text-align: center;
            margin-right: 15px;
            width: 60px;

            &-fa {
                font-size: 44px;
                color: #008f4c;
            }
        }

        &-txt {
            font-family: 'GothamProBold';
            font-size: 16px;
            line-height: 1.3;
            max-width: 80%;
        }
    }

    &__steps {
        margin-bottom: 50px;

        &-ttl {
            margin-bottom: 30px;
        }

        &-cnt {
            display: flex;
            align-items: flex-start;
        }

        &-i {
            flex-basis: 20%;

            &:first-child {
                .workers__steps-i-ttl {
                    border-radius: 10px 0 0 10px;
                }
            }

            &:last-child {
                .workers__steps-i-ttl {
                    border-radius: 0 10px 10px 0;
                }
            }

            &-ttl {
                font-size: 16px;
                color: #008f4c;
                font-family: 'GothamProBold';
                background: #f5f5f5;
                padding: 20px;
                position: relative;

                &-last {
                    &:before,
                    &:after {
                        display: none !important;
                    }
                }

                &:before,
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    width: 48px;
                    height: 10px;
                    background: #fff;
                }

                &:before {
                    transform: rotate(45deg);
                    top: 10px;
                }

                &:after {
                    transform: rotate(-45deg);
                    bottom: 10px;
                }
            }

            &-txt {
                font-size: 12px;
                padding: 20px;
                max-width: 85%;
            }
        }
    }

    &__why {
        margin-bottom: 50px;

        &-ttl {
            margin-bottom: 30px;
        }

        &-lst {
            margin: 0 auto;
            max-width: 500px;
            width: 100%;
        }

        &-i {
            list-style: none;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            margin-left: 0 !important;
        }

        &-ic {
            &-fa {
                color: #008f4c;
                font-size: 32px;
            }
        }

        &-txt {
            max-width: 85%;
            font-size: 16px;
            font-family: 'GothamProBold';
            margin-left: 15px;
        }

    }

    &__form {
        max-width: 560px;
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .workers {
        &__ttl {
            font-size: 28px;
            line-height: 1.2;
        }

        &__slide {
            &-ttl {
                font-size: 38px;
            }
        }

        &__team {
            &-i {
                flex-basis: 100%;
            }
        }

        &__steps {
            &-i {
                &-ttl {
                    padding: 20px 10px;
                    font-size: 15px;
                }

                &-txt {
                    padding: 10px;
                    max-width: 90%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .workers {
        &__entry {
            padding: 25px !important;
        }

        &__ttl {
            font-size: 22px;
        }

        &__intro {
            &-txt {
                max-width: 100%;

                p {
                    font-size: 14px !important;
                }
            }
        }

        &__slide {
            &:after {
                display: none;
            }

            &-desc {
                position: relative;
                left: auto;
                top: auto;
                transform: none;
                margin: 20px auto;
            }

            &-ttl {
                font-size: 24px;
            }
        }

        &__cols {
            margin-bottom: 0;

            &-i {
                flex-basis: 100%;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-btn {
                margin-bottom: 30px;
            }
        }

        &__team {
            &-i {
                display: block;
                margin-bottom: 30px;
            }

            &-ic {
                margin: 0 auto 10px;
            }

            &-txt {
                margin: 0 auto;
                text-align: center;
                font-size: 15px;
            }
        }

        &__steps {
            &-cnt {
                flex-wrap: wrap;
            }

            &-i {
                flex-basis: 100%;
                margin-bottom: 15px;

                &-ttl {
                    padding: 15px 5px;
                    font-size: 14px;
                    text-align: center;

                    &:before,
                    &:after {
                        display: none;
                    }
                }

                &-txt {
                    padding: 15px 0;
                    text-align: center;
                    max-width: 100%;
                }
            }
        }
    }
}